# Ignore node_modules directory
node_modules/
# Ignore IDE configuration files
.idea/

# Ignore target directories
**/target/**

# Ignore log files
*.log

# Ignore build directories
/build
/dist
/target
**/uploads/**
# Ignore environment variables file
.env
